body {
    width: 100%;
    max-width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
}

.main-content {
    background-color: #f4eeff;
    padding: 2%;
}

.columns {
    padding: 2% 2% 5% 2%;
}

.header {
    background-color: #f4eeff;
    margin-bottom: 1px;
}

#navOptionsMenu {
    background-color: #f4eeff;
}

.footer {
    margin-top: 1px;
    background-color: #f4eeff;
    height: 100px;
    clear: both;
    margin-bottom: 0;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none;
}

.media-item a {
    display: inline-block;
    margin-left: 15px;
}

.card {
    width: 400px;
    height: 700px;
}

.card-image {
    margin-top: 20px;
}

#titleProducts {
    padding-top: 15px;
}
.product-inform {
    display: inline-block;
}

.form-content {
    display: block;
    background-color: #dcd6f7;
    padding: 3%;
}
