{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/scss/fontawesome.scss' %}">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>

        <div class="container is-fullhd">
            <div class="content">
                <header class="header">
                    {% include 'header.html' %}
                </header>
                <div class="main-content">
                    {% block content %}{% endblock %}
                </div>
                <footer class="footer">
                    {% include 'footer.html' %}
                </footer>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'bulma/js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fonts/js/all.min.js' %}"></script>
</html>
