<div class="has-text-centered">
    <strong> Copyright&copy; {{year}} - Desenvolvido por João Victor Rocha </strong>
    <br>
    <div class="social-media">
        <span class="media-item">
            <a href="https://github.com/jvpereirarocha" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </span>
        <span class="media-item">
            <a href="https://linkedin.com/in/jvpereirarocha" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </span>
    </div>
</div>
