{% load static %}
<nav class="navbar is-light" id="navOptionsMenu" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <figure class="image is-48x48">
        <img src="{% static 'images/logo.png' %}">
    </figure>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Produtos
          </a>
          <div class="navbar-dropdown">
            <a href="#" class="navbar-item">
                Cadastrar
            </a>
            <hr class="navbar-divider">
            <a href="#" class="navbar-item">
                Lista
            </a>
            <hr class="navbar-divider">
            <a href="#" class="navbar-item">
                Inventário
            </a>
          </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Empresa
          </a>
          <div class="navbar-dropdown">
              <a href="#" class="navbar-item">
                    Cadastro
              </a>
              <hr class="navbar-divider">
              <a href="#" class="navbar-item">
                    Financeiro
              </a>
              <hr class="navbar-divider">
              <a href="#" class="navbar-item">
                    Fornecedores
              </a>
              <hr class="navbar-divider">
              <a href="#" class="navbar-item">
                    Transações
              </a>
          </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mais
        </a>

        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">
            Relatórios
          </a>
        <hr class="navbar-divider">
          <a href="#" class="navbar-item">
            Gráficos
          </a>
        <hr class="navbar-divider">
          <a href="#" class="navbar-item">
            Exportar
          </a>
        </div>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-success">
            <strong>Cadastrar-se</strong>
          </a>
          <a class="button is-dark">
            Fazer Login
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
