{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}


{% block content %}
    <div class="content">
        <h3 class="is-size-3 has-text-centered">
            <i class="fas fa-wallet"></i>
            {{ message }}
        </h3>
    </div>
    <div class="content">
        <div class="columns is-multiline is-mobile is-centered">
            <div class="column is-12">
                <article class="tile is-child is-light">
                    <p class="has-text-centered is-size-3">
                        <img src="{% static 'images/logo.png' %}" class="is-128x128"/>
                        <p class="is-size-3 has-text-centered">
                            <i class="fas fa-coins"></i>
                            O sistema que ajuda a controlar seu inventário
                        </p>
                    </p>
                </article>
            </div>
        </div>
        <div class="columns is-multiline is-mobile is-centered">
            <div class="column is-12">
                <h4 class="has-text-centered is-size-5">
                    Principais funcionalidades:
                </h4>
                <ul class="list">
                    <li class="list-item has-text-left">
                        <i class="fas fa-list"></i>
                        Vendas, Compras e Transações Financeiras
                    </li>
                    <li class="list-item has-text-left">
                        <i class="fas fa-list"></i>
                        Controle e Gerenciamento de Estoque
                    </li>
                    <li class="list-item has-text-left">
                        <i class="fas fa-list"></i>
                        Relatórios Gerenciais e Gráficos
                    </li>
                    <li class="list-item has-text-left">
                        <i class="fas fa-list"></i>
                        Gestão Financeira
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
