{% extends '../../base.html' %}
{% load static %}

{% block title %} Products List {% endblock %}


{% block content %}
    <div class="content">
        <h3 class="title has-text-centered" id="titleProducts"> Products List</h3>
        <div class="columns is-multiline is-desktop">
            <div class="column is-4-desktop is-12-mobile">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Desodorante Rexona Men</p>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            <img class="product-image" src="{% static 'images/desodorante.jpg' %}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><strong>Code: </strong>458789</p>
                            <hr>

                            <p><strong>Pricing R$: </strong>10,90</p>
                            <hr>

                            <p><strong>Quantity: </strong>200</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-12-mobile">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Alvejante Veja</p>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'images/alvejante.png' %}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">

                            <p><strong>Code: </strong>251622</p>
                            <hr>

                            <p><strong>Pricing R$: </strong>4,80</p>
                            <hr>

                            <p><strong>Quantity: </strong>100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-12-mobile">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Alvejante Veja</p>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'images/alvejante.png' %}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><strong>Code: </strong>251622</p>
                            <hr>

                            <p><strong>Pricing R$: </strong>4,80</p>
                            <hr>

                            <p><strong>Quantity: </strong>100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
