{% extends '../../base.html' %}
{% load static %}

{% block content %}
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="form-content">
                <h3 class="title has-text-centered"> New Product</h3>
                <form class="new-product" method="post">
                    <div class="field">
                        <label class="label"> Code </label>
                        <div class="control">
                            <input type="text" class="input" placeholder="Ex: 0000000">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label"> Description </label>
                        <div class="control">
                            <input type="text" class="input" placeholder="Ex: Soap">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label"> Pricing </label>
                        <div class="control">
                            <input type="number" class="input" placeholder="Ex: 10,00">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label"> Category </label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Food</option>
                                    <option>Higieny</option>
                                    <option>Services</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="label"> Quantity </label>
                        <div class="control">
                            <input type="number" class="input" placeholder="Ex: 150">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="submit" class="button is-success" value="Submit">
                        </div>
                        <div class="control">
                            <input type="reset" class="button is-danger" value="Cancel">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
